body {
    font-family: Arial, sans-serif;
    background-color: #2c2c2c;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    padding: 20px 0;
    text-align: center;
}

.header-content {
    max-width: 2000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    display: flex;
    font-size: 12px;
    color: #66bb6a;
    align-items: center;
}

.logo img {
    height: 40px;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

nav ul li a.active,
nav ul li a:hover {
    background-color: #66bb6a;
    color: black;
}

.search-bar {
    text-align: center;
    margin: 20px 0;
}

.search-bar input {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.reviews-grid {
    max-width: 1500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    padding: 30px;
}

.review-card {
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.review-card img {
    width: 100%;
    height: auto;
}

.review-card h3 {
    margin: 10px 0;
    padding: 0 10px;
}

.pagination {
    text-align: center;
    margin: 20px 0;
}

.pagination a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #66bb6a;
    border-radius: 5px;
    margin: 0 5px;
}

.pagination a:hover {
    background-color: #558b2f;
}
footer {
    background: #B5CEA6;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-links a {
    color: #ffa07a;
    font-size: 25px;
    padding: 20px;
    color: black;
    text-decoration: none;
}

.zomato-widget a img {
    margin-top: 30px;
    width: 250px;
    border-radius: 10px;
}